.overlay_card {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;       
  height: 100vh;      
  background-color: rgba(0, 0, 0, 0.6);
  
  display: flex;
  justify-content: center; 
  align-items: center;     
  z-index: 9999; 
  
  backdrop-filter: blur(4px); 
}

.error_card {
  background-color: #ffffff;
  color: #000000cc;
  padding: 2rem;
  max-width: 400px;    
  width: 90%;          

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  box-sizing: border-box; 
  border-radius: 12px;
  text-align: center;
}